.col-md-2{
	color: rgb(200, 200, 200);
	height:100%;
}
.navbar-default
{
	background-color:rgb(100, 100, 100);
}
.lado-d{
	background-color:rgba(10, 64, 154, 0.9);
	color: rgb(255, 255, 255);
}
.lado-d>p{
	text-align: right;
}
.inline{
	display: inline-block;
}

button.btn.btn-default{
	float:right;
}

#row1{
	margin-right: 0;
}

.todo { 
  background: url(imgs/html.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: device-width;
}

img{
	text-align: center;
}
p.derecha{
	text-align: center;
}

.titulo{
	display:block;
}
.titulo>img{
	float:right;
}
.titulo>h1
{
	position: relative;
}

.nav>li>a.pad{
	padding-left: 5px;
	padding-right: 10px;
}

.iconos{
	text-align: center;
}